@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 /* Font for insdie the section 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine&display=swap');
body{
    margin: 0%;
}
.navigation{
    /* background-color: #6C63FF; */
    border-bottom-left-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    
}
.nav-brand{
    padding-top:1.5rem ;
    padding-left:2vw;
    padding-bottom : -0.5rem;
    font-family : 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    font-weight:600;
    max-width: 12px;
}
.nav-list{
    text-align: center;
    /* padding-top: -1rem; */
    margin-top: -2rem;
    
}
.list-non-bullet {
    list-style-type:none ;
    display: inline;
    padding-right: 2vw;
    
}
.link{
    text-decoration: none;
    text-align: right;
    color:black;
    border: 1.5rem;
}
/* .nav-list .list-non-bullet .link{
    padding-top: 3rem;
    
} */
/* -------------Hero Part-------- */
.hero{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.hero-img{
    max-width: 300px;
    height: auto;
}
.hero , h2{
    font-weight:lighter;
}

/* -------Section Part--------- */
.ha{
    text-align: center;
}
.span{
    color: #9B63FF;
}
.section-container{
    padding-bottom: 2rem;
}
.section{
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem;    
}
.Tech{
    color: #9B63FF;
    font-family: 'Noto Serif TC', serif;
}
.para{
    font-family: 'Montserrat', sans-serif;
    line-height: rem;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    /* font-family: 'Noto Serif TC', serif; */
    /* font-family: 'Open Sans', sans-serif; */

}
.off-white{
    background-color:#F3F4F6;
    color: ;
}

/* ---Footer Part---- */
.footer{
    padding-top: 1vw;
    text-align: center;
    background-color: #9B63FF;
    border-top-left-radius:12vw ;
}
.footer-heading{
    font-size: 2vw;
    
    color:#F3F4F6;
    font-family: 'Montserrat', sans-serif;
}
.footer h2{
   
    color:#F3F4F6;
}
.footer-container{
    padding-bottom: 1rem;
     
}
.socialmedia-img{
    max-width: 17rem;
}

/* .logo-list{
    list-style-type: none;
    display: inline;
}
.logo-img{
    max-width: 2.5rem;
    padding-right: 2rem;
    text-align: center;
} */
/* -------------------------P-R-O-J-E-C-T P-A-G-E--------------------- */

.project-hero{
    text-align: center;
}
.project-caption{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.project-hero .project-caption .project-caption-span{
    color:#9B63FF;
    
}

.project-list{
    list-style-type: none;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.project-center{
    padding-top: 0.5rem;
    margin: auto;
    padding-left: 2rem;
    max-width: 550px;
    margin-bottom: 5rem;
}
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: #9B63FF;
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 103px;
    margin-bottom: 1rem;
    /* margin: 1rem 1rem 1rem 0rem; */
}
.link-secondary{
   background-color: white;
   color:#9B63FF ;
   border-radius: 0.5rem;
   border: 1px solid #9B63FF;
   max-width: 103px;
   margin-bottom: 1rem;
}
