@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 /* Font for insdie the section 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine&display=swap');
body{
    margin: 0%;
}
.navigation{
    /* background-color: #6C63FF; */
    border-bottom-left-radius: 1rem;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    
}
.nav-brand{
    padding-top:1.5rem ;
    padding-left:2rem;
    padding-bottom : -0.5rem;
    font-family : 'Raleway', sans-serif;
    font-family: 'Tangerine', cursive;
    font-size: 2.2rem;
    font-weight:600;
}
.nav-list{
    text-align: center;
    padding-top: -1rem;
    margin-top: -2rem;
    
}
.list-non-bullet {
    list-style-type:none ;
    display: inline;
    padding-right: 2rem;
    
}
.link{
    text-decoration: none;
    text-align: right;
    color:black;
    border: 1.5rem;
}
/* .nav-list .list-non-bullet .link{
    padding-top: 3rem;
    
} */
/* -------------Hero Part-------- */
.hero{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.hero-img{
    max-width: 30rem;
    height: auto;
}
.hero , h2{
    font-weight:lighter;
}

/* -------Section Part--------- */
.ha{
    text-align: center;
}
.span{
    color: #9B63FF;
}
.section-container{
    padding-bottom: 2rem;
}
.section{
    max-width: 700px;
    margin: auto;
    padding: 1.5rem;
    border-radius: 1rem;    
}
.Tech{
    color: #9B63FF;
    font-family: 'Noto Serif TC', serif;
}
.para{
    font-family: 'Open Sans', sans-serif;

}
.off-white{
    background-color:#F3F4F6;
    color: ;
}

/* ---Footer Part---- */
.footer{
    padding-top: 1rem;
    text-align: center;
    background-color: #4B5563;
    border-top-left-radius:41rem ;
}
.footer h2{
    font-size: 2.5rem;
    color:#F3F4F6;
}
.footer-container{
    padding-bottom: 1rem;
     
}
.socialmedia-img{
    max-width: 22em;
}

/* .logo-list{
    list-style-type: none;
    display: inline;
}
.logo-img{
    max-width: 2.5rem;
    padding-right: 2rem;
    text-align: center;
} */